@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  line-height: 1.8;
  letter-spacing: 0.1em;
  word-break: break-all;
  background-color: #4a6a73;
  color: #fff;
  font-family: sans-serif;
}

/* --header-- */

.header-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #4a6a73;
  opacity: 0.8;
  z-index: 3;
  position: relative;
}

.header-wrap__img {
  width: 5%;
  padding-left: 20%;
}

.header-wrap__ttl h1 {
  font-family: "New Tegomin", "Noto Serif JP";
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.25;
  align-items: center;
}

.header-wrap__nav {
  width: 40%;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35%;
}

.header li {
  padding: 0 10px;
  display: inline;
  /* 横並びにさせる */
  border-left: 1px solid #fff;
  /* 区切り線 */
  line-height: 1rem;
}

.header li:first-child {
  border: none;
  /* 親要素から見て一番目のli要素のボーダーを無しに */
}

.header-wrap__nav__list__item {
  margin: auto;
}

.header-wrap__nav__list__item a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s;
  padding-left: 0.7rem;
}

.header-wrap__nav__list__item a:hover {
  opacity: 0.5;
}

.header-wrap__nav__list__item i {
  color: #fff;
  font-size: 1rem;
}

/*--top--*/

.top-wrap {
  width: 100%;
  height: 699px;
  position: relative;
  margin-top: -90px;
  z-index: 1;
}

.top-wrap.__bg {
  background-image: url("../img/img_top.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.top-wrap.__bg::after {
  width: 29%;
  height: 609px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 20%;
  right: 0;
  top: 12.9%;
  bottom: 0;
}

.f-ttl {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  font-family: "New Tegomin";
  line-height: 1.5em;
  z-index: 1;
  top: 20%;
  left: 21%;
}

.f-text {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  font-family: "New Tegomin", "Noto Serif JP";
  line-height: 1.5em;
  z-index: 1;
  bottom: 20%;
  left: 21%;
}

.top-wrap .__deco {
  width: 100%;
  height: 100%;
  background-image: url("../img/wataridori_background.png");
  background-size: cover;
  background-position: 50%;
  position: absolute;
  z-index: 2;
  bottom: -70%;
}

/*--about--*/

.about-wrap {
  width: 100%;
  height: 550px;
  z-index: 4;
  position: relative;
  margin-bottom: 10%;
  display: flex;
  align-items: baseline;
  margin-bottom: 0px;
}

.about-wrap__img {
  position: absolute;
  width: 20%;
  right: 24%;
  top: 20%;
}

.about-wrap__con {
  margin-top: 5%;
  position: absolute;
  left: 21%;
}

.about-wrap__con__txt {
  font-size: 1rem;
  color: #fff;
  font-family: "New Tegomin", "Noto Serif JP";
  line-height: 1.5em;
}

.about-wrap__con__btn {
  margin: 15% 0;
}

.about-wrap__con__btn button {
  color: #4a6a73;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 0.5em;
  letter-spacing: 0.1em;
  padding: 4%;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.about-wrap__con__btn:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

/*--intro--*/

.intro {
  width: 100%;
  height: 620px;
  background-image: url("../img/img_intro2.png");
}

.intro-wrap {
  width: 62%;
  height: 620px;
  margin: 0 auto;
  background-color: #4a6a73;
  opacity: 0.8;
  text-align: center;
}

.i-text {
  width: 100%;
  font-size: 1.1rem;
  color: #fff;
  font-family: "Hiragino Sans";
  padding-top: 5%;
  text-align: center;
  font-weight: normal;
  text-shadow: 1px 1px 2px #000;
}

.ul-wrap {
  width: 70%;
  height: 240px;
  margin: 0 auto;
  padding-left: 10%;
}

.ul-wrap ul {
  list-style: none;
  text-align: start;
}

.ul-wrap i {
  padding-right: 0.7rem;
}

.ul-wrap li {
  font-family: "Hiragino Sans";
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 2.5rem;
  display: block;
}

.intro-wrap p {
  width: 100%;
  font-size: 1.1rem;
  color: #fff;
  font-family: "Hiragino Sans";
  padding-top: 5%;
  text-align: start;
  font-weight: normal;
  padding-right: 5%;
}

.fa-down-long {
  padding-top: 5%;
  width: 100%;
  margin: 0 auto;
  text-align: start;
  padding-left: 40%;
}

/*--service--*/
.service {
  width: 100%;
  height: 1100px;
}

.service-ttl h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "Noto Serif JP";
  font-weight: normal;
  padding: 7% 0;
}

.service-wrap {
  width: 67%;
  height: 788px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.service-wrap__con {
  width: 33.3333%;
}

.service-wrap__con__block__img {
  width: 250px;
  height: 250px;
  padding-left: 2rem;
}

.service-wrap__con__block__head {
  text-align: center;
}

.service-wrap__con__block__head h3 {
  font-size: 20px;
  font-family: "Hiragino Sans";
  font-weight: 600;
  text-align: center;
}

.service-wrap__con__block__txt {
  font-size: 16px;
  font-family: "Hiragino Sans";
  font-weight: 400;
  padding: 0 2rem;
}

/*--works--*/

.works {
  width: 100%;
  height: 1200px;
}

.works-ttl h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "Noto Serif JP";
  font-weight: normal;
  padding: 7% 0;
}

.web-works-ttl h3 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-family: "Hiragino Sans";
  font-weight: normal;
  padding: 1rem 0;
}

.web-works-wrap {
  width: 72%;
  height: 300px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.web-works-wrap__con {
  width: 33.3333%;
}

.web-works-wrap__con__block__img {
  width: 292px;
  height: 220px;
  padding-left: 2rem;
}

.flyer-works-wrap__con__block__img {
  width: 200px;
  height: 283px;
  padding-left: 2rem;
}

.flyer-works-ttl h3 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-family: "Hiragino Sans";
  font-weight: normal;
  padding: 1rem 0;
}

.flyer-works-wrap {
  width: 59%;
  height: 377px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.flyer-works-wrap__con {
  width: 33.3333%;
}

/*--contact--*/

.contact {
  width: 100%;
  height: 789px;
  background-image: url("../img/img_contact_bg.png");
}

.contact-wrap {
  width: 62%;
  height: 790px;
  margin: 0 auto;
  background-color: #4a6a73;
  opacity: 0.8;
  text-align: center;
}

.contact-wrap__ttl h2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "Noto Serif JP";
  font-weight: normal;
  padding: 5% 0;
}

.contact-wrap__ttl h3 {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  text-align: left;
  font-size: 0.9rem;
  font-family: "Hiragino Sans";
  font-weight: normal;
  padding: 0 0 1rem 6rem;
}

.contact-wrap__ttl span {
  color: yellow;
}

.contact-wrap__con {
  width: 50%;
  height: 605px;
  margin: 0 auto;
  font-size: 0.9rem;
  font-family: "Hiragino Sans";
}

.contact-wrap__con__form__item {
  align-items: center;
}

.contact-wrap__con__form__item span {
  color: yellow;
}

.contact-wrap__con__form__item label {
  display: block;
  color: #fff;
  padding-top: 0.8%;
  text-align: left;
}

.contact-wrap__con__form__item input {
  width: 100%;
  height: 1.5rem;
}

.contact-wrap__con__form__item textarea {
  width: 100%;
  height: 10rem;
  margin-bottom: 7%;
}

.contact-wrap__con__form__btn {
  width: 80%;
  margin: 0 auto;

}

.contact-wrap__con__form__btn button {
  color: #4a6a73;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 0.5em;
  letter-spacing: 0.8em;
  padding: 4% 4% 4% 7%;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-wrap__con__form__btn button:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

/*--footer--*/

.footer {
  width: 100%;
  height: 227px;
}

.footer-wrap {
  width: 60%;
  height: 227px;
  margin: 13% auto;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.footer-wrap__nav {
  font-size: 20px;
}

.footer-wrap li {
  padding: 0 10px;
  display: inline;
  border-left: 1px solid #fff;
  line-height: 1rem;
}

.footer li:first-child {
  border: none;
}

.footer-wrap__nav__list__item a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s;
  padding-left: 0.7rem;
}

.footer-wrap__nav__list__item a:hover {
  opacity: 0.5;
}

.footer-wrap__right {
  color: #fff;
  font-size: 14px;
}